* { -webkit-overflow-scrolling: touch; }
a { -webkit-touch-callout: none; user-select: none; -webkit-user-select: none; }
html, body {  position: fixed; margin: 0; padding: 0; left:0; top: 0; bottom: 0; right: 0px;background: #fff; font-size: small; font-family: Arial, Tahoma; background: #F8F8F8; overflow:hidden; }
ul, dl, h1, h2, h3, h4, h5, h6, form, dl, dd { padding:0; margin:0; }
h1 { font-size: 150%; font-weight:normal; }
h2 { font-size: 130%; }
h3 { font-size: 120%; font-weight:normal; }
h4 { font-size: 110%; }
h5 { font-size: 100%; font-weight:normal; }
ul { list-style:none; }
.address_waiting { padding-left: 20px; background: transparent url("../../img/loading.svg") no-repeat 0px center; background-size: 16px 16px; }
/*dialog*/
.button { margin: 2px; padding: 2px 15px; height: 24px; font-size: 100%; text-align: center; font-weight: normal; -webkit-appearance : none ;}
.enable { color: #000; cursor: pointer; background: #DDE; border: 1px solid #369; }
.disable { color: #999; cursor: default; background: #ccc; border: 1px solid #999; }
#dlg_loading #tips { display: block; padding: 20px 10px 20px 80px; line-height: 20px; background: #fff url("../../img/loading.svg") no-repeat 40px;  background-size : 30px 30px; }
.invalidbox {   background-color: #FEE;
  border: 1px solid #EDD; }
.modalmask { position: fixed; bottom: 0; right: 0; top: 0; left: 0; display: block; background: #999; filter:alpha(opacity=40); opacity:0.4; z-index: 2; }
.dialog { position: absolute; display: none; font-size: 100%; z-index: 3; }
.dialog .out { background: #999; margin: 5px 0px 0px 5px; }
.dialog .in { background:#fff; border:1px solid #e5e5e5; position: relative; top:-2px; left:-2px; margin: 0 auto; }
.dialog h3 { background-color:#36c; color:#fff; font-size: 110%; line-height: 30px; padding: 0 4px; cursor: move; }
.dialog_cancel { position: absolute; top: 8px; right: 8px; width: 11px; height: 11px; display: block; 
    background: transparent url("../../img/wndclose.png") no-repeat 0 center; cursor: pointer; }
.speedchart_min { position: absolute; top: 8px; right: 8px; width: 11px; height: 11px; display: block; 
    background: transparent url("../../img/iw_min.gif") no-repeat 0 center; cursor: pointer; }
.speedchart_max { position: absolute; top: 8px; right: 8px; width: 11px; height: 11px; display: block; 
    background: transparent url("../../img/iw_max.gif") no-repeat 0 center; cursor: pointer; }
.dialog .content { margin: 2px 8px; border: 1px dashed #E7E7E7; overflow: auto; }
.dialog td { height: 25px; padding:2px }
.dialog .footer { background: #F6F6F6; border-top: 1px solid #999; height: 30px; margin: 2px 4px; padding-top: 4px;}
.dialog .right { float: right; }
.dialog .delete { width: 32px; height: 18px;
         background: transparent url("../../img/delete.png")no-repeat center; color: #000; cursor: pointer; border: 1px solid #369; }
		 .dialog p { margin: 0; padding: 4px 8px; line-height:16px; background: #E1E1E1; color: #369; border-bottom: 1px solid #999; }
.dialog ul { padding: 1px; cursor: default; }
.dialog ul li { float: left; line-height: 20px; border-bottom: 1px dashed #E7E7E7; text-align: left; }
.dialog ul #cmdul li {width: 350px;}
.dialog ul #altul li {width: 300px;}
.dialog ul li a { margin: 1px; padding: 2px 22px; display: block; color:#000; text-decoration:none; background: url("../../img/cmditem.svg") no-repeat 3px center; background-size : 14px 14px; }
.dialog ul li a:hover { text-decoration: none; }
.dialog ul li.dlg_active a { font-weight: bold; color: #fff; background: #66f url("../../img/sendcmd.png") no-repeat 3px center; }

.icon_info { background: transparent url("../../img/icon_info.png") no-repeat 16px center; }
.icon_warning { background: transparent url("../../img/icon_warning.png") no-repeat 16px center; }
.icon_succ { background: transparent url("../../img/icon_succ.png") no-repeat 16px center; }
.icon_stop { background: transparent url("../../img/icon_stop.png") no-repeat 16px; }
.tooltip { position:absolute; padding: 5px; border: 1px solid gray; font-size: 9pt; font-family: Arial, Tahoma; background-color: #fff; z-index: 30; }
.icon-button {
 background-color: #2B82D4 !important; width: 95%; border: none; color: white; padding: 7px 7px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px; cursor: pointer; border-radius: 4px; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); height: 35px; -webkit-appearance : none ;
margin-bottom: 20px;
}
.icon-button-back { padding-left: 20px; background: url(../mimg/arrow_left.svg) no-repeat center left; background-size : 15px 15px; vertical-align: top; -webkit-appearance : none; }

/*#################################################*/
/* MENU PANEL
/*#################################################*/
.page_menu { display: block; position: absolute; top: 0px; left: 0px; bottom: 0px; width: 100%; height: 100%; color: #696969; z-index: 999999; box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.3); background: #f8f8f8; display: table; margin: auto; }
.page_menu .page-title { box-sizing: border-box; margin-bottom: 15px; font-size: 18px; line-height: 50px; padding: 0 15px; height: 50px; display: table; width: 100%; color: #ffffff; background-color: #2b82d4; }
.page_menu .title-block i { position: absolute; top: 15px; right: 15px; width: 15px; height: 15px; display: block; background: transparent url("../mimg/wndclose.svg") no-repeat 0 center; cursor: pointer; }
.page_menu ul { padding: 0 15px 30px 0; margin: 0; display: table; width: 100%; list-style: none; }
.page_menu ul li { width: 33.333%; float: left; padding-top: 15px; padding-left: 15px; box-sizing: border-box; }
.page_menu ul li a { 
    color: #696969 !important; 
    font-size: 14px; 
    padding: 20px 10px; 
    display: block; 
    text-decoration: none; 
    position: relative; 
    font-weight: 400; 
/*    border-radius: 50px;*/
    text-align: center; 
/*    background: #ffffff; */
/*    -webkit-box-shadow: 0 0 5px 0 #eaeaea; */
/*    box-shadow: 0 0 5px 0 #eaeaea; */
}
.page_menu ul li a:hover { opacity: 0.8; }
.page_menu ul li a.selected { }
.page_menu ul li a i { width: 100%; font-size: 25px; margin-bottom: 10px; display: inline-block; }
.icon { background-position: center center; width: 30px; height: 30px; } 
.icon-menu-map { background: url('../mimg/menu_map.svg') no-repeat top center; background-size : 30px 30px; color:red}
.icon-menu-object { background: url('../mimg/menu_object.svg') no-repeat top center; background-size : 30px 30px; }
.icon-menu-dashboard { background: url('../mimg/menu_dashboard.svg') no-repeat top center; background-size : 30px 30px; }
.icon-menu-event { background: url('../mimg/menu_event.svg') no-repeat top center; background-size : 30px 30px; }
.icon-menu-history { background: url('../mimg/menu_history.svg') no-repeat top center; background-size : 30px 30px; }
.icon-menu-control { background: url('../mimg/menu_control.svg') no-repeat top center; background-size : 30px 30px; }
.icon-menu-setting { background: url('../mimg/menu_setting.svg') no-repeat top center; background-size : 30px 30px; }
.page_menu .button-block { margin: 30px auto; display: table; }
.page_menu .button-block a { color: #444444; text-decoration: none; }
.button-block .desktop-btn { width: 100%; background: url(../mimg/pc.svg) no-repeat left center; background-size : 15px 15px; padding-left: 20px; }
.button-block .logout-btn { width: 100%; background: url(../mimg/logout.svg) no-repeat left center; background-size : 15px 15px; padding-left: 20px; }


/*#################################################*/
/* MAP PANEL
/*#################################################*/
.page_map { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1; }
.page_map .page-title { box-sizing: border-box; margin-bottom: 15px; font-size: 18px; line-height: 50px; padding: 0 50px; height: 50px; display: table; width: 100%; color: #ffffff; background-color: #2b82d4; }
.page_map  .title-block i { position: absolute; top: 11px; left: 15px; width: 25px; height: 25px;  background: transparent url("../mimg/page.svg") no-repeat 0 center; cursor: pointer; }
#map { position: fixed; top: 50px; left: 0px; right: 0px; bottom: 0px; z-index: 1; }
#loadmapwait { position: absolute; top: 1px; left: 40%; margin:0 auto; font-size: 120%; color: #ff6; font-weight: bold; cursor: default; background: #ccc url("../../img/ajax-loader.gif") no-repeat 4px center; padding: 1px 5px 1px 24px; z-index: 2;}
#streetview_img { position: absolute; border:2px solid #EFF7F7; bottom: 50px; right: 5px; z-index: 1000; width: 150px; height: 83px; background: white; filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8; display:-webkit-box; -webkit-box-align:center; -webkit-box-pack:center;}
.infowindow { line-height: 1.35; font-size: 100%; overflow: hidden; white-space: nowrap; min-width: 300px; }
.infowindow h3 { line-height: 16px;color: #000; font-weight: bold; margin-bottom: 5px; border-bottom: 2px solid #000;}
.infowindow ul { line-height: 18px; font-size: 95%; }
.infowindow .infobase ul { width: 210px; }
.infowindow  table { color: #000; font-weight: normal; }
.infowindow ul li { color: #000; margin: 0 0px 6px 0px; }
.infowindow ul li span { color: #000; font-weight: normal; }
.infowindow ul li .button { padding: 2px; margin: 2px; width: 20px; height: 16px; float: left; border: 1px solid #ccc;}
.infowindow ul li .button:hover { border: 1px solid #000; }
.infowindow ul li .history { background: transparent url("../../img/history.svg") no-repeat 4px center; background-size : 16px 16px; }
.infowindow ul li .objinfo { background: transparent url("../../img/objinfo.svg") no-repeat 4px center; background-size : 16px 16px; }
.infowindow ul li .sendcmd { background: transparent url("../../img/sendcmd.svg") no-repeat 4px center; background-size : 16px 16px; }
.infowindow ul li .lastpic { background: transparent url("../../img/last_photo.svg") no-repeat 4px center; background-size : 16px 16px; }
.infowindow ul li .lastvoice { background: transparent url("../../img/record.svg") no-repeat 4px center; background-size : 16px 16px; }
.infowindow ul li .opengmap { background: transparent url("../../img/google.svg") no-repeat 0px center; background-size : 25px 25px; }
.infowindow ul li .openwmap { background: transparent url("../../img/waze.png") no-repeat 0px center; background-size : 25px 25px; }
.infowindow ul li .shareposition { background: transparent url("../../img/share_position.svg") no-repeat 4px center; background-size : 16px 16px; }
.infowindow ul li .altifno { background: transparent url("../../img/alarm.svg") no-repeat 4px center; background-size : 16px 16px; }
.infowindow ul li.infospeed { padding-left: 18px; background: url("../../img/parking.svg") no-repeat 0px; background-size : 18px 18px; }
.infowindow ul li.infoltime { padding-left: 18px; background: url("../../img/clock.svg") no-repeat 0px; background-size : 18px 18px; }
.infowindow ul li.odometer { padding-left: 18px; background: url("../../img/odometer2.svg") no-repeat 0px; background-size : 18px 18px; }
.infowindow ul li.infolocal { padding-left: 18px; background: url("../../img/compass.svg") no-repeat 0px; background-size : 18px 18px; }
.infowindow ul li.infoaddress { white-space: pre-wrap; padding-left: 18px; background: url("../../img/location.svg") no-repeat 0px; background-size : 18px 18px; width: 155px;}
.infowindow ul li span.infogps { padding-left: 16px; background: url("../../img/satellite.svg") no-repeat 0px; background-size : 16px 16px; height:16px; display:inline-block;}
.infowindow ul li span.infogsm { padding-left: 18px; background: url("../../img/gsmsignal.svg") no-repeat 0px; background-size : 16px 16px; height:16px; display:inline-block;}
.infowindow ul li span.infopassenger { padding-left: 18px; background: url("../../img/passenger.svg") no-repeat 0px; background-size : 16px 16px; height:16px; display:inline-block;}
.infowindow .infodriver { float: left; margin: 0px 10px 5px 0px; width: 80px; height: 190px; overflow: hidden; }
.infowindow .infodriver ul { color: #000; text-align:center; }
.infowindow .infodriver ul li{ display:block; float:left; width:80px; margin-right:8px; white-space:normal;  word-wrap: break-word; }
.infowindow .infodriver ul li.ndrvdef{ text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; }
.infowindow .infobase { float: left; margin: 0px 0px 15px 0px; }
.infowindow .infobottom { position: absolute; bottom: 0; left: 5; height:25px; width: 100%;}
.infowindow .infobottom ul { text-align:left; list-style:none; }
.infowindow .infobottom ul li { display:inline; line-height:25px; float: left; margin: 0px 5px 0px 0px;}
.infowindow .infobottom ul li.infoacc { width: 15%; padding-left: 16px; background: url("../../img/engine_off.svg") no-repeat 0px;  background-size : 18px 18px; }
.infowindow .infobottom ul li.infofuel { width: 14%; padding-left: 16px; background: url("../../img/fuel_level.svg") no-repeat 0px;  background-size : 20px 18px; }
.infowindow .infobottom ul li.infotemp { width: 15%; padding-left: 16px; background: url("../../img/temper_level.svg") no-repeat 0px;  background-size : 20px 20px; }
.infowindow .infobottom ul li.infovolt { width: 10%; padding-left: 16px; background: url("../../img/voltage_level.svg") no-repeat 0px;  background-size : 20px 20px; }
.infowindow .infobottom ul li.infoweight { width: 10%; padding-left: 16px; background: url("../../img/weight.svg") no-repeat 0px; background-size : 20px 20px; }

/*map legend*/
#legdiv { position: absolute; right: 1px; bottom: 30px; width: 150px; height: 10px; z-index: 1000; }
/*map tools*/
#maptools { position: absolute; left: 9px; top: 160px; width: 250px; height: 15px; z-index: 1000; }
#maptools_ext { position: absolute; left: 50px; top: 60px; width: 250px; height: 15px; z-index: 1000; }
#maptools table { margin: 0px; padding: 0px; border: 0px; border-collapse: collapse;  }
#maptools table td { margin: 0px; padding: 0px; border: 1px solid #DEDFDE; border-collapse: collapse; cursor: pointer; }
#maptools_ext table { margin: 0px; padding: 0px; border: 0px; border-collapse: collapse;  }
#maptools_ext table td { margin: 0px; padding: 0px; border: 1px solid #DEDFDE; border-collapse: collapse; cursor: pointer; }
.labels { color: white; background-color: green; border-radius: 3px; font-family: "Lucida Grande", "Arial", sans-serif; font-size: 12px; height:18px; text-align: center; line-height:18px; padding:0px 1px; white-space: nowrap; border: 2px solid #696969; }
.labelsgeo { color: black; background-color: #FDFEFD; border-radius: 3px; font-family: "Lucida Grande", "Arial", sans-serif; font-size: 12px; height:18px; text-align: center; line-height:18px; padding:2px 2px; white-space: nowrap; }
.popup_driver  { background: url("../../img/steering_wheel_green.svg") no-repeat 0px center; padding-left: 18px; background-size : 16px 16px; }
#mylocation { position: absolute; left: 1px; left: 10px; bottom: 10px; width: 28px; height: 28px; z-index: 1000; outline: none; border: none; background-color:#FFFFFF; background: #fff url("../mimg/my_location.svg") no-repeat center;  background-size : 28px 28px;  }

/*playback speed*/
#playspeed { position: absolute; left: 1px; left: 50px; bottom: 10px; width: 40px; height: 28px; z-index: 1000; outline: none; border: none; display: none; background-color:#FFFFFF; }

/*navbar*/
ul.nav { width:100%; margin:0 auto; padding:0; list-style:none; background-color:#fff; text-align:center; overflow: hidden; white-space:nowrap; }
.nav li { display:inline-block; width:33.33333%; margin:0;  padding:0; float: left; }
.nav a { text-align:center; color: #33383C; padding:8px 0 8px 0; margin:0; border: 1px solid #ADADAD; display:block; text-decoration: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-user-select: none; -moz-user-focus: none; -moz-user-select: none; }
.nav a:visited   { background:#fff; }
.nav a:hover { background:#fff; }
.nav a:active  { background:#E6E6E6; }
#history_navbar { position: absolute; width:100%; min-height: 0px; bottom: 15px; background:gray; height:20px; }
#history_navbar .icon { background-position: center center; width: 13px; height: 13px; } 
#history_navbar ul li a i { width: 100%; margin-right: 5px;  display: inline-block; }
.icon-navbar-stop { background: url('../mimg/play.svg') no-repeat center center; background-size : 13px 13px; }
.icon-navbar-play { background: url('../mimg/pause.svg') no-repeat center center; background-size : 13px 13px; }
.icon-navbar-map { background: url('../mimg/earth.svg') no-repeat center center; background-size : 13px 13px; }
.icon-navbar-route { background: url('../mimg/routes.svg') no-repeat center center; background-size : 13px 13px; }
.icon-navbar-hide { background: url('../mimg/remove.svg') no-repeat center center; background-size : 13px 13px; }

/*route info*/
.details-panel { position: fixed; top: 50px; bottom: 35px; left: 0px; right: 0px; background-color: #f8f8f8; padding-top: 20px; padding-left: 15px; padding-right: 15px; padding-bottom: 15px; z-index: 10; overflow-x: hidden; overflow-y: auto; }
#details_panel_detail_list { background-color: #F5F5F5; }
#route_panel_detail_list { background-color: #F5F5F5; }
.general { background-color: #F5F5F5; width: 100%; }
.general thead td { height: 38px; vertical-align: middle; text-align: left; padding-left: 10px; font-weight:bold; }
.general tbody td { height: 25px; width: 50%; vertical-align: middle; text-align: left; padding-left: 10px; background-color: #FFFFFF; border-top: 1px solid #DDDDDD; }
.hisroute { background-color: #F5F5F5; width: 100%; }
.hisroute thead td { height: 38px; vertical-align: middle; text-align: left; padding-left: 10px; font-weight:bold; }
.hisroute tbody td { height: 25px; width: 50%; vertical-align: middle; text-align: left; padding-left: 10px; background-color: #FFFFFF; border-top: 1px solid #DDDDDD; }
.route_start {  padding-left: 30px; background: transparent url("../../img/route-start.svg") no-repeat 8px center; background-size : 18px 18px; }
.route_drive {  padding-left: 30px; background: transparent url("../../img/route-drive.svg") no-repeat 8px center; background-size : 18px 18px; }
.route_stop {  padding-left: 30px; background: transparent url("../../img/route-stop.svg") no-repeat 8px center; background-size : 18px 18px; }
.route_event {  padding-left: 30px; background: transparent url("../../img/route-event.svg") no-repeat 8px center; background-size : 18px 18px; }
.route_end {  padding-left: 30px; background: transparent url("../../img/route-end.svg") no-repeat 8px center; background-size : 18px 18px; }

/*graph*/
/*#tab_chart { height: 120px }*/
#chart_div { height: 120px; margin-top:3px; }
#tab_speedchart { height: 120px }
#tab_ignitionchart { height: 120px }
#tab_fuelchart { height: 120px }
#tab_tempchart { height: 120px }
#tab_movesdetail { height: 120px; }
#tab_altitudechart { height: 120px }
/*#################################################*/
/* OBJECTS PANEL
/*#################################################*/
.page_objects { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1; }
.page_objects .page-title { box-sizing: border-box; margin-bottom: 15px; font-size: 18px; line-height: 50px; padding: 0 50px; height: 50px; display: table; width: 100%; color: #ffffff; background-color: #2b82d4; }
.page_objects  .title-block i { position: absolute; top: 11px; left: 15px; width: 25px; height: 25px;  background: transparent url("../mimg/page.svg") no-repeat 0 center; cursor: pointer; }
#sch { position: absolute; top: 70px; height: 32px; left: 15px; right: 15px; background: #BCD0E7; z-index: 1; --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); }
#sch #device { border: none; padding: 7px; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 100px; height: 32px; outline-style: none; }  
#sch #selone { 
    background-color: #5BC872;
/*    border: 1px solid #E8E8E8;*/
    padding: 7px;
    height: 32px;
    width: 65px;
    float: right;
    position: relative;
    top: -32px;
    -webkit-appearance: none;
}
#mod { position: absolute; left: 15px; right: 15px; top: 120px; bottom: 1px; }
.
 { position: absolute; width: 100%; bottom: 45px; top: 35px; margin: auto 0px; overflow-y: auto; border: 1px solid #DDDDDD; border-top: none; }

/*tabbar*/
ul.tabbar { background-color: #fff; margin:2px 0px; padding-left: 0px; padding-bottom: 0px;padding: 7px 0px; border-bottom: 1px solid #DDDDDD; display:flex;}
ul.tabbar li { list-style: none; margin: auto; width:100%;  align-content: space-between;text-align: center;}
ul.tabbar li a { height: 30px; font-size:12px; font-weight: normal; border: none; background: #fff; text-decoration: none; }
ul.tabbar li a:visited { color: #000; } 
ul.tabbar li.tab_active a { background-color: #5BC872; color: #000; border: 1px solid #DDDDDD; border-bottom: none;padding:10px 15px }


/*tree grid*/
.tree_table { margin: 0; font-size: 100%; line-height: 20px; text-align: left; overflow: auto; width: 100%; border-collapse:collapse; }
.tree_table tr:not(.end_state) { cursor: default; height: 47px; border-top: 1px solid #DDDDDD; }
.tree_table tr.end_state { border-bottom: 1px solid #DDDDDD; }
.tree_table tr.end_state li{ display: block !important; float: left; font-size:12px; color:#808080; }
.tree_table th .tree_table td { text-align: left; }
.tree_table .group { height: 40px; font-size: 16px; padding-left: 20px; cursor: pointer; margin: 0px 5px; }
.tree_table .showall { opacity:0.5; outline: none; -webkit-appearance:none; border: none; border-radius: 0px; cursor: pointer; margin: 0px 5px; height: 14px; width: 14px; background: url("../../img/show.svg") no-repeat 0px center;  background-size : 14px 14px; }
.tree_table .trackall { opacity:0.5; outline: none; -webkit-appearance:none; border: none; border-radius: 0px; cursor: pointer; height: 14px; width: 14px; background: url("../../img/track.svg") no-repeat 0px center;  background-size : 14px 14px; }
.tree_table .close { background: #fff url("../mimg/plus.svg") no-repeat 4px center; padding-left: 23px; background-size : 10px 10px; }
.tree_table .open { background: #fff url("../mimg/minus.svg") no-repeat 4px center; padding-left: 23px; background-size : 10px 10px; }
.tree_table .parking { width: 20%; background: url("../../img/parking.svg") no-repeat right 5px center; background-size : 16px 16px; }
.tree_table .engine_on { width: 20%; background: url("../../img/engine_on.svg") no-repeat right 2px center; padding-right: 20px; background-size : 16px 16px; }
.tree_table .engine_off { width: 20%; background: url("../../img/engine_off.svg") no-repeat right 2px center; padding-right: 20px; background-size : 16px 16px; }
.tree_table .menu { background: url("../mimg/menu.svg") no-repeat 4px center; padding-left: 21px; cursor: pointer; background-size : 16px 16px; }
.tree_table .online { background: url("../../img/object_online.svg") no-repeat 0px center; padding-left: 17px; background-size : 16px 16px; }
.tree_table .offline { background: url("../../img/object_offline.svg") no-repeat 0px center; padding-left: 17px; background-size : 16px 16px; }
.tree_table .gpsvalid { background: url("../../img/gps_valid.svg") no-repeat 0px center; padding-left: 17px; background-size : 16px 16px; }
.tree_table .cellvalid { background: url("../../img/cell_valid.svg") no-repeat 0px center; padding-left: 17px; background-size : 16px 16px; }
.tree_table .invalid { background: url("../../img/invalid.svg") no-repeat 0px center; padding-left: 17px; background-size : 14px 14px; }
.tree_table .alarm { background: url("../../img/alarm.svg") no-repeat 0px center; padding-left: 17px; cursor: pointer; background-size : 16px 16px; }
.tree_table .tasknew { background: url("../../img/tasknew.svg") no-repeat 0px center; padding-left: 17px; cursor: pointer; background-size : 16px 16px; }
.tree_table .taskprocessing { background: url("../../img/taskprocessing.svg") no-repeat 0px center; padding-left: 17px; cursor: pointer; background-size : 16px 16px; }
.tree_table tr.normal { color: #444444; }
.tree_table tr.active { background-color: #DDDDDD; padding: 0 2px; font-weight: normal; }
.tree_table tr.hover { background-color: #DDDDDD; padding: 0 2px; font-weight: normal; }
.tree_table .end_state td ul { display:flex;float:center; justify-content:center; align-items:center; list-style: none; }
.tree_table .end_state td ul li { float:center;}
.tree_table .end_state .temp_1  { transform: scale(2); background: url("../../img/state_temp.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 13px 13px; }
.tree_table .end_state .fuel_1  { transform: scale(2); background: url("../../img/state_fuel.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 13px 13px; }
.tree_table .end_state .mil_24  { transform: scale(2); background: url("../../img/state_route.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 13px 13px; }
.tree_table .end_state .max_speed_24  { transform: scale(2); background: url("../../img/state_max_speed.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 13px 13px; }
.tree_table .end_state .moving_time_24  { transform: scale(2); background: url("../../img/moving_time_24.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 15px 15px; }
.tree_table .end_state .idle_time_24  { transform: scale(2); background: url("../../img/idle_time_24.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 15px 15px; }
.tree_table .end_state .stop_time_24  { transform: scale(2); background: url("../../img/stop_time_24.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 15px 15px; }
.tree_table .end_state .engine_time_24  { transform: scale(2); background: url("../../img/engine_time_24.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 15px 15px; }
.tree_table .end_state .total_mil  { transform: scale(2); background: url("../../img/odometer2.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 13px 13px; }
.tree_table .end_state .last_driver  { transform: scale(2); background: url("../../img/steering_wheel_green.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 13px 13px; }
.tree_table .end_state .door_state  { transform: scale(2); background: url("../../img/info_door.svg") no-repeat 0px center; margin:14px; padding-left: 18px; background-size : 13px 13px; }
.page_objects #object-release { position: absolute; bottom: 2px; left: 0px; }
.page_objects #object-back { position: absolute; bottom: 2px; right: 0px; }
.page_objects #object-detail-back {float: right; bottom: 20px; right: 15px; }

.cmdcheckbox { display: none; }
.cmdswitch { width: 36px; height: 15px; background: #ccc; border-radius: 8px; padding: 1px; box-sizing: border-box; display: inline-block; margin-top: 2px; cursor: pointer; }
.cmdswitch:after { content:''; box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15), 0 1px 1px 0 rgba(0,0,0,0.16), 0 3px 1px 0 rgba(0,0,0,0.10); width: 13px; height: 13px; background: #fff; border-radius: 50%; display: block; margin-left: 1px; float: left; transition: all 0.5s; }
.cmdcheckbox:checked+.cmdswitch:after { margin-left: 20px; }
.cmdcheckbox:checked+.cmdswitch { background: #56ACFE; }


/*#################################################*/
/* HISTORY PANEL
/*#################################################*/
.page_history { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1; }
.page_history table{ width:100%; table-layout:fixed; }
.page_history .page-title { box-sizing: border-box; margin-bottom: 15px; font-size: 18px; line-height: 50px; padding: 0 50px; height: 50px; display: table; width: 100%; color: #ffffff; background-color: #2b82d4; }
.page_history  .title-block i { position: absolute; top: 11px; left: 15px; width: 25px; height: 25px;  background: transparent url("../mimg/page.svg") no-repeat 0 center; cursor: pointer; }
.page_history .ilabel {width:90%; display:block; margin: 5px 10px; height: 29px; font-size: 15px; line-height: 25px; color: #44484D; }
.page_history .itext { width:90%; display:block; margin: 5px 10px; height: 29px; font-size: 13px; line-height: 25px; font-weight: normal; border-bottom: 1px solid #DDDDDD; }
.page_history .iselect { width:90%; display:block; margin: 5px 10px; height: 33px; font-size: 13px; line-height: 28px; font-weight: normal; border-bottom: 1px solid #DDDDDD; }
#page_history .input-group{ width:90%; margin-left: 10px;  }
#page_history .input-group-addon { background: #EEEEEE url("../mimg/calendar.svg") no-repeat center center; cursor: pointer; background-size : 18px 18px; }
#page_history .input-group input{ font-size: 12px; padding-left: 18x; padding-right: 0px; }
.page_history_setting{ position: fixed; top: 51px; bottom: 0px; overflow-y:scroll; border: none;background-color:white;padding:10px }
.page_history_setting table{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
/*    margin: 20px 20px;*/
}
/*#################################################*/
/* CONTROL PANEL
/*#################################################*/
.page_cmd { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1;background-color:white; }
.page_cmd table{ width:100%; table-layout:fixed; overflow-y:scroll; }
.page_cmd #cmdparam{ width:100%; max-height: 80px; overflow-y:scroll; top: 10px; }
.page_cmd .page-title { box-sizing: border-box; margin-bottom: 15px; font-size: 18px; line-height: 50px; padding: 0 50px; height: 50px; display: table; width: 100%; color: #ffffff; background-color: #2b82d4; }
.page_cmd .title-block i { position: absolute; top: 11px; left: 15px; width: 25px; height: 25px;  background: transparent url("../mimg/page.svg") no-repeat 0 center; cursor: pointer; }
.page_cmd .ilabel {width:90%; display:block; margin: 5px 10px; height: 29px; font-size: 15px; line-height: 25px; color: #44484D; }
.page_cmd .itext { width:90%; display:block; margin: 5px 10px; height: 29px; font-size: 13px; line-height: 25px; font-weight: normal; border-bottom: 1px solid #DDDDDD; }
.page_cmd .iselect { width:90%; display:block; margin: 5px 10px; height: 33px; font-size: 13px; line-height: 28px; font-weight: normal; border-bottom: 1px solid #DDDDDD; }
.page_cmd .itime { width:90%; display:block; margin: 5px 10px; height: 29px; font-size: 13px; line-height: 25px; font-weight: normal; border-bottom: 1px solid #DDDDDD; }
.page_cmd .iul{ background: #fff; border: 1px solid #ccc; font-size: 16px; margin-left: 10px; margin-right: 5px; padding: 2px; height: 300px; overflow-y: auto !important; text-overflow: ellipsis; }
.page_cmd .iul li a { padding-left: 20px; font-size: 16px; background: #fff url("../../img/cmditem.svg") no-repeat 3px center; background-size : 12px 12px; }
.page_cmd .iul li.cmd_active a { padding-left: 20px; font-weight: bold; text-decoration: none; background: #DDDDDD url("../../img/sendcmd.svg") no-repeat 3px center; background-size : 12px 12px; }
/*.page_cmd .iul li:nth-of-type(odd){ background: #fff;}
.page_cmd .iul li:nth-of-type(even){ background: #DDDDDD;}奇偶行颜色*/
#cmderror { margin-left: 10px; }
.page_cmd_details{ position: fixed; top: 51px; bottom: 0px; left: 0px; right: 0px; overflow-y:scroll; overflow-x: hidden; border: none; }

/*#################################################*/
/* EVENTS PANEL
/*#################################################*/
.page_events { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1; }
.page_events table{ width:100%; table-layout:fixed; overflow-y:scroll; }
.page_events .page-title { box-sizing: border-box; margin-bottom: 15px; font-size: 18px; line-height: 50px; padding: 0 50px; height: 50px; display: table; width: 100%; color: #ffffff; background-color: #2b82d4; }
.page_events .title-block i { position: absolute; top: 11px; left: 15px; width: 25px; height: 25px;  background: transparent url("../mimg/page.svg") no-repeat 0 center; cursor: pointer; }
#events { position: absolute; left: 15px; right: 15px; top: 55px; bottom: 1px; }
#event-table-div { position: absolute; top: 5px; bottom: 60px; right: 0px; overflow-y:scroll;width:100% }
#events #event-table td { height: 30px; width: 50%; vertical-align: middle; text-align: left; padding-left: 10px;}
.page_events #event-back { position: absolute; bottom: 18px; right: 0px; }
.event-table-body{
    background: #ccf2ff;
/*    border: 1px solid #DDEEEE;*/
/*    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
}
#events #event-table tbody{
    padding-top: 10px !important;
}
/*#################################################*/
/* DASHBOARD PANEL
/*#################################################*/
.page_dashboard { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1; }
.page_dashboard table{ width:100%; table-layout:fixed; overflow-y:scroll; }
.page_dashboard .page-title { box-sizing: border-box; margin-bottom: 15px; font-size: 18px; line-height: 50px; padding: 0 50px; height: 50px; display: table; width: 100%; color: #ffffff; background-color: #2b82d4; }
.page_dashboard .title-block i { position: absolute; top: 11px; left: 15px; width: 25px; height: 25px;  background: transparent url("../mimg/page.svg") no-repeat 0 center; cursor: pointer; }
#dashboard { position: absolute; left: 15px; right: 15px; top: 55px; bottom: 1px; }
#dashboard-table-div { position: absolute; top: 5px; bottom: 60px; right: 0px; overflow-y:scroll; }
#dashboard #dashboard-table td { height: 25px; width: 50%; vertical-align: middle; text-align: left; padding-left: 10px; background-color: #FFFFFF; }
.page_dashboard #dashboard-back { position: absolute; bottom: 18px; right: 0px; }

/*#################################################*/
/* SETTINGS PANEL
/*#################################################*/
.page_setting .error { color: #c00; font-weight: bold; }
.page_setting { position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 1; }
.page_setting table{ width:100%; table-layout:fixed; overflow-y:scroll; }
.page_setting .page-title { box-sizing: border-box; margin-bottom: 15px; font-size: 18px; line-height: 50px; padding: 0 50px; height: 50px; display: table; width: 100%; color: #ffffff; background-color: #2b82d4; }
.page_setting .title-block i { position: absolute; top: 11px; left: 15px; width: 25px; height: 25px;  background: transparent url("../mimg/page.svg") no-repeat 0 center; cursor: pointer; }
.page_setting .ilabel {width:90%; display:block; margin: 2px 10px; height: 20px; font-size: 15px; line-height: 25px; color: #44484D; }
.page_setting .itext { width:90%; display:block; margin: 2px 10px; height: 20px; font-size: 13px; line-height: 25px; font-weight: normal; border-bottom: 1px solid #DDDDDD; }
.page_setting .iselect { width:90%; display:block; margin: 2px 10px; height: 24px; font-size: 13px; line-height: 28px; font-weight: normal; border-bottom: 1px solid #DDDDDD; }
#settings { position: absolute; left: 15px; right: 15px; top: 55px; bottom: 1px; }
.settings-items { position: absolute; width: 100%; bottom: 45px; top: 1px; margin: auto 0px; overflow-x:hidden; overflow-y: auto; border: 0px solid #DDDDDD; border-top: none; }
.page_setting #setting-setting { position: absolute; bottom: 2px; left: 0px; width: 120px; }
.page_setting #setting-back { position: absolute; bottom: 2px; right: 0px; width: 120px; }

.info-card{
    border-radius: 5px;
    padding: 5%;
}